<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h5><%= link_to restaurant.name, restaurant_path(restaurant) %> in <%= restaurant.address %></h5>
  <p><%= '★' * restaurant.rating %></p>
<% end %>

<%= link_to "Create a restaurant", new_restaurant_path %>